@import '@/assets/styles/variables.scss';

.main-about {
  // LAND SECTION
  display: flex;
  flex-direction: column;
  box-sizing: border-box;

  .land-section {
    display: flex;
    flex-direction: column-reverse;
    height: 100vh;
    justify-content: center;

    .info-container {
      display: flex;
      flex-direction: column;
      //padding: 0 30px;
      margin-top: 80px;

      .title {
        // estilos para el título
      }

      .description {
        text-align: justify;
        margin-top: 40px;
        // estilos para la descripción
      }
    }

    .img-container {
      width: 100%;
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        // estilos para la imagen
      }
    }
  }

  // MISION SECTION
  .mision-section {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    //padding: 0 30px;
    background-image: linear-gradient(45deg, $rc-blue-5, $rc-blue-1);
    min-height: 50vh;
    .info-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 20px;
      max-width: 800px;
      .title {
        // estilos para el título
        color: $rc-sky;
        background-color: rgba(255, 255, 255, 0.1);
        padding: 5px 30px;
        border-radius: 100px;
        text-align: center;
        width: max-content;
      }

      .paragraph {
        text-align: justify;
        color: $rc-white-1;

        // estilos para el párrafo
      }
    }
  }

  // WE ARE SECTION
  .we-section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 5vh 0;

    .title {
      // estilos para el título
      width: 100%;
      text-align: center;
    }
    .container {
      display: flex;
      flex-direction: column;
      margin-bottom: 60px;

      .cards-container {
        //max-width: 1000px;

        display: flex;
        flex-direction: column;
        .right-side {
          width: 100%;
        }
        .left-side {
          width: 100%;
        }
        .item {
          display: flex;
          flex-direction: row-reverse;
          width: 100%;
          align-items: center;
          gap: 20px;
          .text {
            // estilos para el texto
            width: fit-content;
            text-align: justify;
            padding: 10px;

            .bolder {
              font-weight: bolder;
            }
          }

          .vignette {
            // estilos para la viñeta
            height: 50px;
            width: 50px;
            flex-shrink: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-shrink: 0; /* Evita que se encoja */
            position: relative;

            .circle-1 {
              position: absolute;
              z-index: 1;
              width: 100%;
              height: 100%;
              background-color: $rc-white;
              border-radius: 50px;

              box-shadow:
                4px 4px 15px #d9d9d9,
                -4px -4px 15px #ffffff;
            }
            .circle-2 {
              position: absolute;
              z-index: 2;
              width: 70%;
              height: 70%;
              background-color: $rc-sky;
              border-radius: 50px;
            }
            .icon {
              position: absolute;
              z-index: 3;
              display: flex;
              font-size: larger;
            }
          }
        }
      }
    }
  }

  // LEADER SECTION
  .customers-section {
    //background-color: $rc-white-1;
    background-image: linear-gradient(45deg, $rc-white-2, $rc-white-1);

    padding: 5vh 0;

    .content {
      display: flex;
      flex-direction: column;
      gap: 30px;
      .title {
        width: 100%;
        text-align: center;
      }

      .brands {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 30px;
        overflow: hidden;
        .icon {
          flex-shrink: 0;
          width: 100px;
          height: 100px;
          background-color: rgba(221, 221, 221, 0.266);
          border-radius: 8px;

          img {
            width: 100%;
            height: 100%;
            object-fit: contain;
          }
        }
      }
    }
  }

  //VALUES-SECTION
  .values-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5vh 0;

    gap: 30px;

    .title {
    }

    .cards-container {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 30px;

      .card {
        //max-width: 350px;
        background-color: hsla(248, 100%, 70%, 0.03);
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        gap: 30px;
        padding: 20px;

        .description {
          text-align: justify;
        }
        .content {
          display: flex;
          flex-direction: row;
          align-items: center;
          .title {
            width: 100%;
            font-weight: 800;
            color: $rc-gray;
            font-size: 24px;
          }
          .img-container {
            max-width: 60px;
            img {
              width: 100%;
              height: 100%;
              object-fit: contain;
              min-width: 45px;
            }
          }
        }
      }
    }
  }

  // TEAM SECTION
  .team-section {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    box-sizing: border-box;
    padding: 5vh 0;

    .content-container {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      background-image: linear-gradient(45deg, $rc-blue-5, $rc-blue-1);
      color: white;
      padding: 30px;
      border-radius: 6px;
      gap: 30px;

      //min-width: 80vh;

      .title {
        // estilos para el título
      }

      .paragraph {
        margin-top: 20px;
        text-align: justify;
        // estilos para el párrafo
      }
    }
    .cards-container {
      display: flex;
      flex-direction: column;
      margin-top: 20px;
      justify-content: center;
      align-items: center;
      width: 100%;

      .card {
        display: flex;
        flex-direction: column;
        margin: 10px 0;
        //box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.03);
        border-radius: 10px;

        overflow: hidden;
        width: 100%;
        max-width: 400px;
        background-color: hwb(230 0% 0% / 0.01);

        .top-side {
          display: flex;
          align-items: center;
          gap: 30px;

          .img-container {
            flex-shrink: 0;
            overflow: hidden;
            border-radius: 10px;
            z-index: 1;
            //box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
              aspect-ratio: 5/6;
              max-width: 150px;
              // estilos para la imagen del líder
            }
          }
          .info-container {
            display: flex;
            flex-direction: column;
            gap: 10px;
            .title {
              color: $rc-gray;
              font-weight: 800;
              font-size: 32px;
            }

            .position {
              color: $rc-gray;
              font-weight: 500;
              font-size: 16px;
            }
          }
        }

        .bot-side {
          display: flex;
          flex-direction: column;
          padding: 30px;
          .info-container {
            .title {
              color: skyblue;
            }

            .position {
            }
          }

          .description {
            color: $rc-gray-2;
            font-weight: 300;
            font-size: 16px;
            text-align: justify;
          }
        }

        /*
        .info-container-md {
          margin-left: 0px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          position: relative;
          width: 100%;
          z-index: 0;
          background-color: #ebf0f4;
          border-radius: 5px;

          .front-layer {
            width: 100%;
            height: 100%;
            position: absolute;
            z-index: 1;
            box-sizing: border-box;
            .name {
              font-weight: bolder;
              font-size: 24px;
              //color: $rc-blue;
              // estilos para el nombre
            }

            .job {
              //margin-bottom: 20px;
              // estilos para el cargo
            }

            .description {
              text-align: justify;
              font-size: 14px;
              margin-top: 15px;
              // estilos para la descripción
            }
          }
          .back-layer {
            width: -webkit-fill-available;
            position: absolute;
            z-index: 0;
            display: flex;
            justify-content: end;
            height: 100%;
          }
        }
          */
      }

      //display: none;

      /*
      .leader-card {
        display: flex;
        flex-direction: row-reverse;
        margin: 10px 0;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
        overflow: hidden;
        width: 100%;
        max-width: 500px;

        .img-container {
          width: 35%;
          flex-shrink: 0;
          overflow: hidden;
          border-radius: 10px;
          z-index: 1;
          box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
          img {
            width: 100%;
            height: 100%;
            object-fit: fill;
            // estilos para la imagen del líder
          }
        }

        .info-container {
          margin-left: 0px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          position: relative;
          width: 100%;
          z-index: 0;
          background-color: #ebf0f4;
          border-radius: 5px;

          .front-layer {
            width: 100%;
            height: 100%;
            position: absolute;
            z-index: 1;
            box-sizing: border-box;
            .name {
              font-weight: bolder;
              font-size: 24px;
              //color: $rc-blue;
              // estilos para el nombre
            }

            .job {
              //margin-bottom: 20px;
              // estilos para el cargo
            }

            .description {
              text-align: justify;
              font-size: 14px;
              margin-top: 15px;
              // estilos para la descripción
            }
          }
          .back-layer {
            width: -webkit-fill-available;
            position: absolute;
            z-index: 0;
            display: flex;
            justify-content: end;
            height: 100%;
          }
        }
      }

      */

      .r-side {
        flex-direction: row-reverse;
        border-radius: 5px;
        .info {
          margin-right: -10px;
          .fl {
            padding: 20px 30px 20px 20px;
          }
        }
      }

      .l-side {
        flex-direction: row;
        border-radius: 5px;

        .info {
          margin-left: -10px;
          overflow: hidden;
          .fl {
            padding: 20px 20px 20px 30px;
          }
        }
      }
    }
  }
}

@media (min-width: 720px) {
  .main-about {
    // LAND SECTION
    .land-section {
      //padding: 0 10%;
      flex-direction: row;
      height: 90vh;
      .info-container {
        width: 90%;
        justify-content: center;
        .title {
        }
        .description {
        }
      }
      .img-container {
        //position: absolute;
        width: 100%;
        img {
        }
      }
    }

    // MISION SECTION
    .mision-section {
      justify-content: center;
      column-gap: 10%;
      .info-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        .title {
          display: block;
        }
        .paragraph {
          text-align: center;
        }
      }
      .img-container {
        width: 100%;
        .title-mb {
          display: none;
        }
        .top-side {
        }
        .bottom-side {
          .as {
          }
          .bs {
          }
        }
        img {
        }
      }
    }

    // WE ARE SECTION
    .we-section {
      gap: 20px;
      .container {
        .title {
        }
        .cards-container {
          flex-direction: row;
          column-gap: 50px;
          .item {
            flex-direction: row;
            .text {
              .bolder {
              }
            }
            .vignette {
              .circle-1 {
              }
              .circle-2 {
              }
              .icon {
              }
            }
          }
          .right-container {
            display: flex;
            flex-direction: column;
          }
          .left-container {
          }

          .right {
            display: flex;
            flex-direction: row-reverse;
          }
          .left {
            display: flex;
            flex-direction: row;
          }
        }
      }
    }

    // LEADER SECTION
    .customers-section {
      .content {
        gap: 40px;
        .title {
        }
        .brands {
          justify-content: space-evenly;
          .icon {
            img {
            }
          }
        }
      }
    }

    //VALUES-SECTION
    .values-section {
      .title {
      }
      .cards-container {
        flex-direction: row;
        .card {
          padding: 30px;
          .description {
          }
          .content {
            .title {
            }
            .img-container {
              img {
              }
            }
          }
        }
      }
    }

    // LEADER SECTION
    .team-section {
      .content-container {
        //background-color: rgba(255, 0, 0, 0.1);
        border-radius: 10;
        width: 100%;

        .title {
          // estilos para el título
        }

        .paragraph {
          margin-top: 20px;
          text-align: justify;
          // estilos para el párrafo
        }
      }
      .cards-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        gap: 10px;
        margin-top: 0;

        .card {
          flex-direction: row;
          max-width: 600px;
          .top-side {
            .img-container {
              height: 100%;
              width: 100%;
              img {
                max-width: none;
                aspect-ratio: 8/9;
              }
            }
            .info-container {
              .title {
              }

              .position {
              }
            }
          }

          .bot-side {
            width: 100%;
            justify-content: center;
            gap: 10px;

            .info-container {
              display: flex;
              flex-direction: column;
              gap: 5px;
              .title {
                color: $rc-gray;
                font-weight: 800;
                font-size: 32px;
              }

              .position {
                color: $rc-gray;
                font-weight: 600;
                font-size: 16px;
              }
            }

            .description {
            }
          }
        }
        /*
        .leader-card {
          display: flex;
          flex-direction: row-reverse;
          margin: 10px 0;
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
          min-width: 500px; //display: none;

          overflow: hidden;

          .img-container {
            width: 35%;
            flex-shrink: 0;
            overflow: hidden;
            border-radius: 10px;
            z-index: 1;
            box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
            img {
              width: 100%;
              height: 100%;
              object-fit: fill;
              // estilos para la imagen del líder
            }
          }

          .info-container {
            margin-left: 0px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            position: relative;
            width: 100%;
            z-index: 0;
            background-color: #ebf0f4;
            border-radius: 5px;

            .front-layer {
              width: 100%;
              height: 100%;
              position: absolute;
              z-index: 1;
              box-sizing: border-box;
              .name {
                font-weight: bolder;
                font-size: 24px;
                //color: $rc-blue;
                // estilos para el nombre
              }

              .job {
                //margin-bottom: 20px;
                // estilos para el cargo
              }

              .description {
                text-align: justify;
                font-size: 14px;
                margin-top: 15px;
                // estilos para la descripción
              }
            }
            .back-layer {
              width: -webkit-fill-available;
              position: absolute;
              z-index: 0;
              display: flex;
              justify-content: end;
              height: 100%;
            }
          }
        }

        */

        .r-side {
          flex-direction: row-reverse;
          border-radius: 5px;
          .info {
            margin-right: -10px;
            .fl {
              padding: 20px 30px 20px 20px;
            }
          }
        }

        .l-side {
          flex-direction: row;
          border-radius: 5px;

          .info {
            margin-left: -10px;
            overflow: hidden;
            .fl {
              padding: 20px 20px 20px 30px;
            }
          }
        }
      }
    }
  }
}

@media (min-width: 1150px) {
  .team-section {
    display: flex;
    flex-direction: row !important;
    overflow: hidden;
    box-sizing: border-box;
    min-width: 80vh;
    gap: 50px;
  }
}
