@import '@/assets/styles/variables.scss';

/*
border: 2px solid rgba(198, 198, 198, 0.1);
background-color: rgba(245, 250, 254, 0.1);
*/

.main-home {
  .land-section {
    height: 100vh;
    position: relative;
    .image-container {
      position: absolute; /* Posiciona el primer div de forma absoluta dentro del contenedor */
      bottom: 0; /* Ajusta la posición según sea necesario */
      z-index: 1;
      height: 50vh;
      width: 100%;
      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
    .info-container {
      max-width: 600px;
      padding: 0 20px;
      position: absolute; /* Posiciona el primer div de forma absoluta dentro del contenedor */
      bottom: 50%; /* Ajusta la posición según sea necesario */
      left: 0;
      z-index: 2;
      display: flex;
      flex-direction: column;
      .paragraph {
        margin: 20px 0 40px 0px;
      }
    }
  }

  .about-section {
    display: flex;
    flex-direction: column-reverse;
    padding: 5vh 0;

    .info-container {
      .paragraph {
        margin: 20px 0;
      }
    }

    .image-container {
      margin: 20px;
      overflow: hidden;
      border-radius: 6px;
      box-shadow:
        7px 7px 19px #d9d9d9,
        -7px -7px 19px #ffffff;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }

    .title-mb {
      display: block;
    }

    .title-lg {
      display: none;
    }
  }

  .services-section {
    background-color: #f3fafe;
    padding: 5vh 0;

    .content {
      display: flex;
      flex-direction: column;
      gap: 30px;
      .title {
      }
      .container {
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;
        .card-container {
          width: 80%;
          max-width: 400px;
          margin-bottom: 20px;
          background-color: rgba(255, 255, 255, 0.1);
          border-radius: 6px;
          padding: 20px;
          box-shadow: 0px 0px 15px #0000000b;
          transition: all 0.3s ease-in-out;
          cursor: pointer;
          display: flex;
          flex-direction: column;
          gap: 20px;

          .top-side {
            display: flex;
            .title {
              margin-left: 20px;
            }
          }
          .bot-side {
            display: flex;
            align-items: center;
            height: 100%;
            gap: 20px;
            .img-container {
              width: 50%;
              img {
                width: 100%;
                height: 100%;
                object-fit: contain;
              }
            }

            .paragraph {
              width: 130%;
              font-weight: 100px;
              font-size: 14px;
              color: #7a7a7a;
            }
          }
        }

        .card-container:hover {
          transform: scale(1.02);
          //box-shadow: 0px 0px 20px rgba(0, 255, 255, 0.15);
        }

        .mb {
          display: none;
        }
      }
      .button-container {
        display: flex;
        justify-content: center;
      }
    }
  }

  .why-section {
    .main-container {
      display: flex;
      flex-direction: column; //responsive
      padding: 5vh 0;
      .left {
        display: flex;
        flex-direction: column;
        gap: 30px;
        .header {
        }

        .items-container {
          display: flex;
          flex-wrap: wrap;
          gap: 10px;
          .item {
            background-color: gray;
            width: 48%;
            height: 60px;
            border-radius: 6px;
            display: flex;
            align-items: center;
            text-align: center;
            padding: 10px;

            .icon {
              color: white;
              font-size: xx-large;
              width: 80px !important;
              display: flex;
              align-items: center;
              justify-content: center;
              .xorz {
                display: flex;
              }
            }
            .text {
              font-weight: bold;
              color: white;
              width: 100%;
              font-size: small;
            }
          }
        }

        .info-container {
          display: flex;
          flex-direction: column;
          gap: 30px;
          .paragraph {
            // estilos para el párrafo
          }

          .phrase-container {
            text-align: center;
          }
          .button-container {
            // estilos para el contenedor del botón
          }
        }

        .sep-container {
          display: flex;
          align-items: center;
          flex-direction: column;
          margin: 10px 0;
          row-gap: 4px;
          width: 100%;
          .separator {
            height: 4px;
            width: 40px;
            border-radius: 6px;
            background-color: $rc-gray;
          }
        }
      }
      .right {
        display: none;
        .image-container {
          width: 100%;
        }
        .phrase-container {
          text-align: center;
        }
      }
    }
    .items-container-mb {
      display: none;
      flex-wrap: wrap;
      gap: 10px;
      .item {
        background-color: gray;
        width: 48%;
        height: 60px;
        border-radius: 6px;
        display: flex;
        align-items: center;
        text-align: center;
        padding: 10px;

        .icon {
          color: white;
          font-size: xx-large;
          width: 80px !important;
          display: flex;
          align-items: center;
          justify-content: center;
          .xorz {
            display: flex;
          }
        }
        .text {
          font-weight: bold;
          color: white;
          width: 100%;
          font-size: small;
        }
      }
    }
  }

  .do-section {
    display: flex;
    flex-direction: column;
    padding-bottom: 5vh;

    .side-a {
      width: 100%;
      .title-count {
        width: 100%;
      }
      .info-sec {
        .img-cont {
          width: 100%;
          margin: 20px 0;
          img {
            height: 100%;
            width: 100%;
            object-fit: cover;
          }
        }
        .pharagraph {
          margin-bottom: 20px;
        }
        .button-container-md {
          display: none;
        }
      }
    }
    .side-b {
      .items-sec {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
        transition: all 0.1s ease;
        .item {
          display: flex;
          width: 100%;
          padding: 8px 0;
          cursor: pointer;

          .icon-cont {
            position: relative;
            width: 35px;
            height: 35px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-shrink: 0; /* Evita que se encoja */

            .circle-1 {
              position: absolute;
              z-index: 1;
              width: 100%;
              height: 100%;
              background-color: $rc-white;
              border-radius: 50px;

              box-shadow:
                4px 4px 15px #d9d9d9,
                -4px -4px 15px #ffffff;
            }
            .circle-2 {
              position: absolute;
              z-index: 2;
              width: 70%;
              height: 70%;
              background-color: #aceeb7;
              border-radius: 50px;
            }
            .icon {
              position: absolute;
              z-index: 3;
              display: flex;
            }
          }
          .text-cont {
            display: flex;
            flex-direction: column;
            margin-left: 20px;
            .title {
              min-height: 35px;
              display: flex;
              align-items: center;
              font-weight: 500;
            }
            .paragraph {
              font-weight: 200px;
              font-size: 14px;
              transition: all 0.5s ease-in-out;
              box-sizing: border-box;
              color: $rc-gray-2;
            }

            .p {
              overflow: hidden; /* Oculta contenido cuando max-height está reducido */
              max-height: 0; /* Valor inicial para que esté oculto */
              opacity: 0;
              transition:
                max-height 0.8s ease-in-out,
                padding 0.8s ease-in-out,
                opacity 0.2s ease-in-out;
            }

            .p--visible {
              max-height: 200px; /* Ajusta según la altura que esperes */
              padding-top: 0rem; /* Añade espacio vertical solo cuando es visible */
              padding-bottom: 1rem;
              opacity: 1;
            }
          }
        }
      }
    }

    .button-container-mb {
      display: block;
    }
  }

  .project-section {
    background: linear-gradient(90deg, $rc-blue-5 0%, $rc-blue-1 100%);
    width: 100%;
    margin: 5vh 0;

    .content {
      position: relative;
      height: 50vh;
      color: $rc-white;
      .info {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;
        padding: 0 40px;
        text-align: center;
        .title {
          margin-bottom: 20px;
        }
        .pharagraph {
          margin-bottom: 40px;
          max-width: 600px;
        }
        .button-container {
        }
      }

      .background {
        position: absolute;
      }
    }
  }
}

@media (min-width: 720px) {
  .main-home {
    .land-section {
      .image-container {
        right: 0;
        bottom: 0;
        height: auto;
        width: 60%;

        //img {
        //}
      }
      .info-container {
        margin-left: 7%;
        bottom: auto;
        top: 30%;
        width: 100%;
        .paragraph {
        }
      }
    }

    .about-section {
      flex-direction: row-reverse;
      align-items: center;
      gap: 10%;
      padding: 10vh 0;
      .info-container {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        .paragraph {
        }
      }

      .image-container {
        height: auto;
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
        }
      }

      .title-mb {
        display: none;
      }

      .title-lg {
        display: block;
      }
    }

    .services-section {
      padding: 10vh 0;

      .content {
        display: flex;
        flex-direction: column;
        align-items: center;

        .title {
          text-align: center;
        }
        .container {
          flex-direction: row;
          row-gap: 40px;
          column-gap: 40px;
          flex-wrap: wrap;
          justify-content: center;
          align-items: stretch;

          max-width: 1200px;
          .card-container {
            width: 300px;
            gap: 10px;
            .top-side {
              display: flex;
              .title {
                margin-left: 20px;
              }
            }
            .bot-side {
              display: flex;
              gap: 20px;
              .img-container {
                width: 50%;
                img {
                  width: 100%;
                  height: 100%;
                  object-fit: contain;
                }
              }

              .paragraph {
                width: 130%;
                font-weight: 100px;
                font-size: 14px;
                color: #7a7a7a;
              }
            }
          }

          .mb {
            display: flex;
          }
        }
        .button-container {
        }
      }
    }

    .why-section {
      padding: 10vh 0;

      .main-container {
        flex-direction: row;
        justify-content: space-between;
        gap: 10%;
        .left {
          width: 50%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          .header {
            .img-container {
              display: none;
              img {
              }
            }
            .txt-container {
              padding: 0;
            }
          }
          .items-container {
            display: none;
            .item {
              .icon {
                .xorz {
                }
              }
              .text {
              }
            }
          }
          .info-container {
            margin: 0;
            .paragraph {
            }
            .phrase-container {
              display: none;
            }
            .button-container {
            }
          }
          .sep-container {
            display: none;
            .separator {
            }
          }
        }
        .right {
          width: 50%;

          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          gap: 60px;
          .image-container {
            display: flex;
            width: 100%;
            overflow: hidden;
            border-radius: 6px;
            img {
              height: 100%;
              width: 100%;
              object-fit: contain;
            }
          }
          .phrase-container {
            width: 80%;
          }
        }
      }
      .items-container-mb {
        .item {
          .icon {
            .xorz {
            }
          }
          .text {
          }
        }
      }
    }

    .do-section {
      padding-bottom: 10vh;

      flex-direction: row;
      justify-content: space-evenly;
      gap: 10%;
      .side-a {
        width: 50%;
        .title-count {
        }
        .info-sec {
          .img-cont {
            //max-width: 460px;
            img {
            }
          }
          .pharagraph {
          }
          .button-container-md {
            display: flex;
          }
        }
      }
      .side-b {
        margin-top: 64px;
        width: 50%;
        display: flex;
        justify-content: center;

        .title-cont {
          text-align: center;
        }

        .items-sec {
          row-gap: 0;
          width: 100%;
          display: flex;
          align-items: center;
          .item {
            max-width: 500px;
            .icon-cont {
              .circle-1 {
              }
              .circle-2 {
              }
              .icon {
              }
            }
            .title {
            }
            .info-cont {
              .title {
                width: max-content;
              }
              .text {
              }
            }
          }
        }
      }
      .button-container-mb {
        display: none;
      }
    }

    .project-section {
      .content {
        display: flex;
        flex-direction: column;

        .info {
          .title {
            color: white;
          }
          .pharagraph {
          }
          .button-container {
          }
        }

        .background {
        }
      }
    }
  }
}

@media (min-width: 1200px) {
  .main-home {
    .land-section {
      .image-container {
        width: 60%;
      }
      .info-container {
        .paragraph {
        }
      }
    }

    .about-section {
      .info-container {
        .paragraph {
        }
      }

      .image-container {
        img {
        }
      }

      .title-mb {
      }

      .title-lg {
      }
    }

    .services-section {
      .content {
        .title {
        }
        .container {
          .card-container {
            .top-side {
              .title {
              }
            }
            .bot-side {
              .img-container {
                img {
                }
              }

              .paragraph {
              }
            }
          }

          .mb {
          }
        }
        .button-container {
        }
      }
    }

    .why-section {
      .main-container {
        .left {
          .header {
            .img-container {
              img {
              }
            }
            .txt-container {
              padding: 0;
            }
          }
          .items-container {
            .item {
              .icon {
                .xorz {
                }
              }
              .text {
              }
            }
          }
          .info-container {
            .paragraph {
            }
            .phrase-container {
            }
            .button-container {
            }
          }
          .sep-container {
            .separator {
            }
          }
        }
        .right {
          .image-container {
            img {
            }
          }
          .phrase-container {
          }
        }
      }
      .items-container-mb {
        .item {
          .icon {
            .xorz {
            }
          }
          .text {
          }
        }
      }
    }

    .do-section {
      .side-a {
        .title-count {
        }
        .info-sec {
          .img-cont {
            img {
            }
          }
          .pharagraph {
          }
          .button-container-md {
          }
        }
      }
      .side-b {
        .items-sec {
          .item {
            .icon-cont {
              .circle-1 {
              }
              .circle-2 {
              }
              .icon {
              }
            }
            .title {
            }
            .info-cont {
              .title {
              }
              .text {
              }
            }
          }
        }
      }
      .button-container-mb {
      }
    }

    .project-section {
      .content {
        .info {
          .title {
          }
          .pharagraph {
          }
          .button-container {
          }
        }

        .background {
        }
      }
    }
  }
}
