@import '@/assets/styles/variables.scss';

.why-runcode-container {
  background-color: rgb(0, 0, 99);
  .land-section {
    display: flex;
    background-image: url('@/assets/images/why-runcode/land-img.webp');
    background-size: cover; /* Hace que la imagen cubra todo el contenedor */
    background-position: center center; /* Centra la imagen horizontal y verticalmente */
    background-repeat: no-repeat; /* Evita que la imagen se repita */

    .info-container {
      max-width: 500px;
      height: 100vh;
      display: flex;
      flex-direction: column;
      width: 100%;
      justify-content: center;
      gap: 50px;
      .title {
        max-width: 500px;
        width: 100%;
        color: white;
        font-weight: 900;
        font-size: 42px;
      }

      .container {
        background-color: rgba(244, 249, 252, 0.02);
        backdrop-filter: blur(3px);
        padding: 20px 20px;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        .description {
          max-width: 500px;
          text-align: justify;
          color: white;
        }
        .buttons-container {
          max-width: 500px;
          display: flex;
          column-gap: 10px;
        }
      }
    }
  }

  .features-section {
    background-color: $rc-white;

    .content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 5vh 0;
      gap: 30px;

      .description-container {
        background-color: rgba(245, 250, 254, 0.1);
        border: 1px solid rgba(198, 198, 198, 0.1);
        padding: 30px;
        border-radius: 6px;
        display: flex;
        flex-direction: column-reverse;
        gap: 50px;
        .img-container {
          width: 100%;
          height: 100%;
          img {
            width: 100%;
            height: 100%;
            object-fit: contain;
          }
        }

        p {
          margin-bottom: 1rem;
        }
      }
      .cards-container {
        display: flex;
        flex-direction: column;
        gap: 30px;

        .container {
          display: flex;
          flex-direction: column;
          gap: 30px;
        }

        .card {
          border-radius: 10px;
          display: flex;
          flex-direction: column;
          padding: 15px;
          gap: 15px;

          .top {
            display: flex;
            gap: 15px;
            .icon {
              height: 30px;
              width: 30px;
              flex-shrink: 0;
              border-radius: 100px;
              display: flex;
              align-items: center;
              justify-content: center;
              .i {
                display: flex;
                align-items: center;
                justify-content: center;
              }
            }
            .title {
              font-size: 20px;
              font-weight: 700;
              color: #404040;
            }
          }
          .description {
            display: none;
          }

          .container {
            display: flex;
            flex-direction: row;
            .features-container {
              width: 100%;

              .feature {
                display: flex;
                .icon {
                  width: 20px;
                  height: 20px;
                  flex-shrink: 0;
                  display: flex;
                  align-items: center;
                }
                .text {
                  font-weight: 300;
                  font-size: 12px;
                  display: flex;
                  align-items: center;
                }
              }
            }
            .button-container {
              .buttonsa {
                background-color: #7c68ff1a;
                height: 36px;
                width: 36px;
                border-radius: 100px;
                outline: none;
                flex-shrink: 0;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: transparent;
                .icon {
                  display: flex;
                  justify-content: center;
                  align-items: center;
                }
              }
            }
          }
        }
      }
    }
  }

  .waranty-section {
    background-color: white;
    padding: 5vh 0;
    display: flex;
    flex-direction: column;
    gap: 30px;

    .first-section {
      display: flex;
      flex-direction: column;
      gap: 30px;

      .title-mb {
      }
      .img-container {
        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
      .content {
        .title-md {
          display: none;
        }
        .paragraph {
          text-align: justify;
        }
      }
    }

    .second-section {
      .card-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;
        .card {
          padding: 30px;
          display: flex;
          flex-direction: column;
          border: 2px solid rgba(198, 198, 198, 0.1);
          border-radius: 10px;
          background-color: rgba(245, 250, 254, 0.1);
          width: 100%;

          .top-section {
            display: flex;
            align-items: center;

            .title {
              text-align: center;
              color: #404040;
              margin-bottom: 30px;
              width: 100%;
            }
            .button-container {
              .buttonsa {
                background-color: #7c68ff1a;
                height: 36px;
                width: 36px;
                border-radius: 100px;
                outline: none;
                flex-shrink: 0;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: transparent;
                .icon {
                  display: flex;
                  justify-content: center;
                  align-items: center;
                }
              }
            }
          }

          .content {
            display: flex;
            flex-direction: column;
            .img-container {
              width: 100%;
              display: flex;
              justify-content: center;
              img {
                width: 60%;
                height: 100%;
                object-fit: contain;
              }
            }
            .info-container {
              display: flex;
              flex-direction: column;
              justify-content: center;
              .title-mb {
                display: none;
                font-size: 20px;
                font-weight: 700;
                color: #404040;
                width: 100%;
              }
              .features-container {
                display: flex;
                flex-direction: column;
                gap: 10px;

                .item {
                  display: flex;
                  gap: 5px;
                  .icon {
                  }
                  .text {
                  }
                }
              }
            }
          }
          .paragraph {
          }
        }
      }
    }
  }

  .contact-section {
    background-image: linear-gradient(45deg, $rc-blue-5, $rc-blue-1);
    .content {
      .info-container {
        display: flex;
        flex-direction: column;
        gap: 20px;
        .title {
          background-image: linear-gradient(90deg, #00b5ff, #6454f0); /* Degradado */
          -webkit-background-clip: text; /* Clip del fondo al texto */
          -webkit-text-fill-color: transparent; /* Hace que el texto sea transparente para mostrar el fondo */
        }

        .paragraph {
        }

        .button-container {
          button {
          }
        }
      }

      .img-container {
      }
    }
  }
}
/* Media query para pantallas grandes */
@media (min-width: 900px) {
  .why-runcode-container {
    width: 100%;
    .land-section {
      .info-container {
        .title {
        }
        .container {
          .description {
          }
          .buttons-container {
          }
        }
      }
    }

    .features-section {
      //height: 80vh;
      padding: 10vh 0;

      .content {
        flex-direction: column-reverse;
        gap: 50px;

        .description-container {
          width: 100%;
          height: 100%;
          display: flex;
          flex-direction: column;
          gap: 30px;

          .img-container {
            width: 100%;
            height: 100%;
            img {
              width: 100%;
              height: 100%;
              object-fit: contain;
            }
          }
        }
        .cards-container {
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: center;
          row-gap: 50px;
          column-gap: 50px;
          width: 100%;

          .container {
            flex-direction: row;
            gap: 50px;
          }
          .card {
            //max-width: 460px;
            padding: 30px;
            .top {
              .icon {
                .i {
                }
              }
              .title {
              }
            }
            .description {
              display: flex;
            }
            .container {
              .features-container {
                .feature {
                  .icon {
                  }
                  .text {
                  }
                }
              }
              .button-container {
                display: none;
                .buttonsa {
                  .icon {
                  }
                }
              }
            }
          }
        }
      }
    }

    .waranty-section {
      padding: 10vh 0;

      .first-section {
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 10%;
        padding-bottom: 10vh;
        .title-mb {
          display: none;
        }
        .img-container {
          width: 50%;

          img {
          }
        }
        .content {
          width: 50%;
          display: flex;
          flex-direction: column;
          gap: 20px;
          .title-md {
            display: block;
          }
          .paragraph {
          }
        }
      }

      .second-section {
        .card-container {
          flex-direction: row;
          justify-content: space-between;
          width: 100%;
          .card {
            //max-width: 320px;
            .top-section {
              .title {
              }
              .button-container {
                .buttonsa {
                  .icon {
                  }
                }
              }
            }
            .content {
              .img-container {
                img {
                }
              }
              .info-container {
                .title-mb {
                }
                .features-container {
                  .item {
                    .icon {
                    }
                    .text {
                    }
                  }
                }
              }
            }
            .paragraph {
            }
          }
        }
      }
    }

    .contact-section {
      //padding: 0;
      .content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .info-container {
          padding: 0;
          justify-content: center;
          max-width: 450px;
          .title {
          }
          .paragraph {
          }
          .button-container {
            button {
            }
          }
        }
        .img-container {
        }
      }
    }
  }
}

@media (min-width: 1000px) {
  .why-runcode-container {
    .land-section {
      .info-container {
        .title {
        }

        .container {
          .description {
          }
          .buttons-container {
          }
        }
      }
    }

    .features-section {
      background-color: $rc-white;

      .content {
        flex-direction: row;
        gap: 10%;

        .description-container {
          width: 35%;
          .img-container {
            img {
            }
          }
        }
        .cards-container {
          width: 65%;

          .container {
          }
          .card {
            .top {
              .icon {
                .i {
                }
              }
              .title {
              }
            }
            .description {
            }
            .container {
              .features-container {
                .feature {
                  .icon {
                  }
                  .text {
                  }
                }
              }
              .button-container {
                .buttonsa {
                  .icon {
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
