//COLORES DEL PROYECTO;
$rc-blue: #020065;
$rc-blue-1: #2d2adb;
$rc-blue-2: #1714c2;
$rc-blue-3: #0b0996;
$rc-blue-4: #080680;
$rc-blue-5: #050382;

$rc-sky: #05c1ff;
$rc-sky-1: #81dfff;
$rc-sky-2: #49cffc;
$rc-sky-3: #05c1ff;
$rc-sky-4: #00a1d7;
$rc-sky-5: #0081ad;

$rc-white: white;
$rc-white-1: #d1d1d1;
$rc-white-2: #b3b3b3;

$rc-black: #262626;
$rc-black-1: #2f2f2f;
$rc-black-2: #3e3e3e;

$rc-gray: #4d4d4d;
$rc-gray-1: #6f6f6f;
$rc-gray-2: #828282;

//$rc-blue-5: #3331b7;

.rc-title {
  font-family: 'Inter', sans-serif;
  font-weight: 800;
  font-size: 36px;
}

.rc-title-land {
  font-family: 'Inter', sans-serif;
  font-weight: bolder;
  font-size: 48px;
  color: $rc-blue;
}

.rc-subtitle {
  font-family: 'Inter', sans-serif;
  font-weight: 800;
  font-size: 18px;
  color: $rc-blue;
}

.rc-text {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: $rc-black;

  //line-height:1.75rem
}

.rc-text-light {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: $rc-black;
}

.text-white {
  color: $rc-white;
}

.text-sky {
  color: $rc-sky;
  font-weight: bold;
}

@media (min-width: 480px) {
  .rc-title {
    font-family: 'Inter', sans-serif;
    font-weight: bolder;
    font-size: 36px;
    color: $rc-blue;
  }
}

:root {
  --rc-blue: #{$rc-blue};

  --rc-white: #{$rc-white};
  --rc-white-1: #{$rc-white-1};
  --rc-white-2: #{$rc-white-2};

  --rc-gray: #{$rc-gray};
  --rc-gray-1: #{$rc-gray-1};
  --rc-gray-2: #{$rc-gray-2};
}

.no-deco {
  text-decoration: none;
}

.aling-y {
  display: flex;
  align-items: center;
}
